.query-condition {
    margin-left: 10px;
    width: 20% !important;
}
.condition-fl{
    float: left
}
.foot-color-green{
    color: green
}
.foot-color-red{
    color:red
}
.foot-content{
    padding-left: 40px;
}
.foot-font-weight{
    font-weight: bold;
}