.sui-panel-content {
    margin-top: 20px;
    padding: 0!important;
}

.sui-iteminput-item {
    float: left;
    width: 250px;
    margin: 0 15px 10px 0;
}

.sui-process {
    display: inline-block;
}