.vertical-line::before {
    content: "1";
    color: #28e;
    background: #28e;
    margin-right: 4px;
}

.sui-panel {
    display: flex;
    flex-direction: row;
}

.sui-panel-title {
    font-weight: bold;
}

.sui-panel-left {
    position: static;
    flex-grow: 0;
    flex-shrink: 0;
}

.sui-panel-right {
    position: relative;
    flex-grow: 1;
}

.sui-panel-rightNormal {
    position: static;
}

.sui-panel-rightMore {
    position: static;
}


/* 收缩按钮 */

.sui-panel-toggle {
    position: absolute;
    right: 0;
    top: 0;
}



.pst-rl {
    position: relative;
}
.sui-dropdown-btn {
    position: relative;
}
.sui-dropdown{/*更多下拉弹出框*/
	z-index: 999;
	position: absolute;
	top: 28px;
	left: -40px;
	width: 100px;
	min-height: 60px;
	max-height: 180px;
	overflow-y: auto;
	border-radius: 4px;
	background-color: #fff;
	color: #555;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    display: none;
    
    & li{
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        padding-left: 10px;
        text-align: left;
        line-height: 30px;

        &.active,
        &:hover{
            box-sizing: border-box;
            width: 100%;
            height: 30px;
            padding-left: 10px;
            line-height: 30px;
            color: #1177dd;
            background-color: #d4e9f6;

        }
    }
    
}

.sui-dropdown-btn:hover .sui-dropdown {
	display: block;
}