.sui-cell-left>sui-select,
// .sui-cell-left>span,
.sui-cell-right>sui-select,
// .sui-cell-right>span,
{
    width: 100%;
    display: inline-block;
}


/* 
.sui-cell-left>span,
.sui-cell-right>span,
{
    display: inline-block;
} */