
.sui-table-tbody {
    position: relative;
    left: 20px;

    &.isFirstGrade {
        left: 0px;

        &>li>.role-cell {
            background-color: #f9f9f9;
        }
    }
    
    .role-cell {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        // position: relative;

        &.row1 {
            padding-top: 10px;
            padding-left: 10px;
            // left: 20px;
        }

        &.row2 {
            vertical-align: top;
        }

        &.row3 {
            width: calc(100% - 220px);
            vertical-align: top;

            .power-text {
                display: inline-block;
                
            }
        }
    }

}



