.sui-groups {
    .gridCellTemplate {
        display: inline-block;
        line-height: 29px;
        width: 100%;
        text-align: center;
    }
}

.groups-modal-btns {
    text-align: center;
}