$primary:     #28e !default;

.active {
    color: #FF0000;
}

.grid-sort {
    float: left;
}
.gird-sort-item{
		float: left;
		min-width: 40px;
		height: 22px;
		margin-right: 20px;
		line-height: 22px;
		text-align: center;
		color: #999;
		transition: all .3s;
        cursor: pointer;
        
        &:hover ,
        &.active {
            float: left;
            min-width: 40px;
            height: 22px;
            margin-right: 20px;
            line-height: 22px;
            text-align: center;
            color: $primary;
            border-bottom: 1px solid $primary;
        }
	}
