<!-- 列表页面布局 -->
<div class="sui-pageList">
    <!-- 列表头部 -->
    <div class="sui-header ">
        <div class="sui-header-left">
            <!-- 列表头部面包屑 -->
            <div *ngIf="crumbMenuNames && crumbMenuNames.length != 0" class="sui-bread">
                <sui-breadcrumb nzSeparator=">">
                    <sui-breadcrumb-item *ngFor="let item of crumbMenuNames">
                        {{item.label}}
                    </sui-breadcrumb-item>
                </sui-breadcrumb>
                <div class="help" (mouseover)="showHelpContent()" (mouseleave)="helpHover=false">
                    <!-- <img src="./assets/imgs/help.png" class="help-icon" /> -->
                    <i class="help-icon"></i>
                    <div [suiSpin]="helpLoadState" class="help-content" [ngClass]="{'sui-show': helpHover,'sui-hidden': !helpHover}">
                        <!-- <ng-content select="[sui-help-content]"></ng-content> -->
                        <div class="help-content-til">
                            <span class="help-name">
                            【<span *ngFor="let item of crumbMenuNames;first as isFirst">
                                    {{isFirst ? "" : "-"}} {{item.label}}
                                    </span>】
                            </span>
                            <!-- <span class="help-more"> 查看更多帮助 </span> -->
                        </div>
                        <ng-template [ngTemplateOutlet]="suiHelpContent?suiHelpContent:suiHelpContentDefault">
                        </ng-template>
                        <ng-template #suiHelpContentDefault>
                            <div #el_helpContent>筹备中...</div>
                        </ng-template>
                        <!-- <div *ngIf="option.helpUrl">
                            {{option.helpUrl | textRemote}}
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="sui-header-right">
                <ng-template [ngTemplateOutlet]="suiTopToolbar">
               
                    </ng-template>
        </div>
    </div>

    <div class="mt-xsmall" *ngIf="suiShowContent">
        <ng-template [ngTemplateOutlet]="suiShowContent"></ng-template>
    </div>

    <!-- 列表搜索区域 -->
    <div class="sui-search  mt-xsmall" *ngIf="suiSearchNormal">
        <!-- 列表搜索区域 常用搜素 -->
        <div class="sui-search-normal sui-panel pb-none">

            <div class="sui-search-condition">
                <ng-template [ngTemplateOutlet]="suiSearchNormal">
                </ng-template>
                <!-- <ng-content select="[sui-search-normal]"></ng-content> -->
            </div>
            <!-- <div class="sui-search-btns ">
                <span (click)="_doSearch($event)">查询</span> 
                <span (click)="_reset($event)">重置</span> 
                <span *ngIf="option.isMoreSearch !== false" (click)="toggleMoreCondition()">更多</span>
            </div> -->

            <div class="slic-btn-group sui-search-btns">
                <button suiHotKey="QUERY" type="button" class="slic-btn slic-btn-theme3 " (click)="_pageBtnClick('search',$event)">查询</button>
                <button suiHotKey="RESET" type="button" class="slic-btn slic-btn-theme3 " (click)="_pageBtnClick('reset',$event)">重置</button>
                <button suiHotKey="QUERY_MORE" type="button" class="slic-btn slic-btn-theme3" *ngIf="option.isMoreSearch !== false" (click)="_pageBtnClick('toggleMore',$event)">  
                    更多 
                    <svg *ngIf="!searchMoreFlag" class="svgicon icon-angle-double-down"><use xlink:href="#icon-angle-double-down"></use></svg>
                    <svg *ngIf="searchMoreFlag" class="svgicon icon-angle-double-up"><use xlink:href="#icon-angle-double-up"></use></svg> 
                </button>
            </div>

        </div>
        <!-- 列表搜索区域 更多搜素 -->

        <div class="sui-search-more" [hidden]="!searchMoreFlag">
            <ng-template [ngTemplateOutlet]="suiSearchMore">
            </ng-template>
            <!-- <ng-content select="[sui-search-more]"></ng-content> -->
        </div>

    </div>

    <div class="sui-panel sui-table-panel-response flex-col mt-xsmall" *ngIf="suiGrid || suiTotal || suiGridSort">
        <!-- 表格 top -->
        <div class="sui-grid-top" *ngIf="suiTotal || suiGridSort">
            <div class="sui-grid-topRight">
                <ng-template [ngTemplateOutlet]="suiTotal">
                </ng-template>
                <!-- <ng-content select="[sui-total]"></ng-content> -->
            </div>
            <div class="sui-grid-topLeft">
                <ng-template [ngTemplateOutlet]="suiGridSort">
                </ng-template>
                <!-- <ng-content select="[sui-grid-sort]"></ng-content> -->
            </div>

        </div>

        <!-- 列表 表格 -->
        <div class="sui-grid-wrap" *ngIf="suiGrid">
            <ng-template [ngTemplateOutlet]="suiGrid">
            </ng-template>
            <!-- <ng-content select="[sui-grid]"></ng-content> -->
        </div>
    </div>
</div>